html{
    height: 100%;
    list-style: none;
}

body{
    position: relative;
    min-height: 100%;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
}
