html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.index {
    background-color: rgb(2, 56, 113);
    min-height: 40em;
    text-align : center;
    color: white;
}
#jumbotron{
    margin-top:5%;
   
}
#tit{
    
    margin-top:5%;
    color:whitesmoke;
    background-color:transparent;
    font-size: 4em;
    position: absolute;
    
}